@main-block-color: #CC0000;
@other-block-color: #1685CC;

.bordered {
  border: 1px solid black;
}

body {
  background-color: #85B4FF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.Rotatable {
  transform-origin: top left;
  position: absolute;
  transition: all ease-in-out .3s;
}

.BoundingBox {
  .bordered;
}

.MainBlock {
  .bordered;
  background-color: @main-block-color;
}

.OtherBlock {
  .bordered;
  background-color: @other-block-color;
}

.BackPane {
  background-color: white;
}

.WindowOut {
  border: 2px solid black;
}

.Invisible {
  opacity: 0;
}

.Blocks {
  transform: translateZ(200px) rotateX(76deg) rotateY(187deg) rotateZ(320deg) translateZ(100px);
}

.BlocksContainer {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.BoardSize {
  display: flex;
  justify-content: space-between;
}

.Main {
  display: grid;
}
